*{
    margin: 0;
    padding: 0;
    
}



header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
    margin-right: 0;
    
}
.round-link {
    display: inline-block;
    background-color:blanchedalmond; /* Color de fondo */
    color: rgb(0, 0, 0); /* Color de texto */
    border: none;
    border-radius: 50%; /* Hacer el enlace redondo */
    padding: 10px 20px; /* Ajustar el relleno según sea necesario */
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s; /* Agregar transiciones */
}

.round-link:hover {
    background-color: #869287; /* Cambio de color al pasar el ratón */
    transform: scale(1.1); /* Efecto de escala al pasar el ratón */
}
.title2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}
body{
    background-image: url(../fotos/scooter-7737073_1920.jpg);
    background-size: cover;
    background-position: center;

}

.title{
    color: white;
}
.content {
    display: flex;
    padding: 90px;
}

img {
    border: 5px solid #000; /* Borde de color negro */
    border-radius: 20px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: border-radius 0.3s, box-shadow 0.3s; /* Transición */
}

img:hover {
    border-radius: 50px; /* Esquinas más redondeadas al pasar el ratón */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada al pasar el ratón */
}
@media (min-width:700px){
.description {
    border: 2px solid black; /* Bordes negros */
    background-color: burlywood; /* Color pastel */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    padding: px 50px 100px; /* Ajusta los márgenes internos (arriba/abajo, izquierda/derecha) */
    margin-left: 20px; /* Espacio entre la imagen y el texto */
    border-radius: 20px; /* Borde redondeado */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    transition: all 0.3s ease; /* Transición suave */
    height: 500px;
    width: 1200px;
}


.description:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón por encima */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada */
}
.title3 {
    text-align: center; /* Centra el título */
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}
.Texto {
    text-align: center; /* Alinea el texto al centro */
    font-size: 50px;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.Texto:before {
    content: "\2022"; /* Agrega un punto antes del texto */
    margin-right: 5px; /* Espacio entre el punto y el texto */
}
}





@media (min-width:700px){


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr)); /*   Cuatro columnas */
    gap: 100px; /* Espacio entre las imágenes */
    max-width: 1700px; /* Ancho máximo del grid */
    margin: 0 auto; /* Centra el grid horizontalmente */
    padding: 50px;
}


.grid-item {
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    overflow: hidden; /* Oculta cualquier contenido fuera de los bordes */
}

.grid-item img {
    max-width: 100%; /* Ancho máximo del 100% del contenedor */
    height: 100%; /* Altura automática para mantener la proporción */
    display: block; 
    object-fit: cover;
    border: 2px solid black; /* Borde negro alrededor de cada imagen */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: transform 0.3s ease; /* Transición suave */
    
}
}


.grid-item:hover {
    border-radius: 30px; /* Bordes más redondeados al pasar el ratón por encima */
}

.grid-item:hover img {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón por encima */
}
@media (min-width:700px){

.footer {
    background-color:bisque; /* Color pastel para el fondo */
    padding: 30px 0; /* Espacio interno */
    margin-top: auto; /* Se pega al borde inferior */
    height: 75px;
    
}

.container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 0;
    
    
}

.social-icons {
    display: flex;
    gap: 35px; /* Espacio entre los íconos */
}
}

i{
    text-align: center;
    font-size: 30px;
    color: black;
    margin: 20px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0 .35);
    transition: .3s ease ;
}

.fa-instagram:hover{
    background-color:violet ;
    color: white;
    box-shadow: 0 0 15px violet,
                0 0 45px violet,
                0 0 75px violet,
                0 0 115px violet;
}
.fa-twitter:hover{
    background-color:skyblue ;
    color: white;
    box-shadow: 0 0 15px skyblue,
                0 0 45px skyblue,
                0 0 75px skyblue,
                0 0 115px skyblue;
}
.italianno-regular {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}

.derechos{
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.ime{
    font-size: 30px;
    font-family:  "Italianno" ;
}  

.tet{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 60px;
    margin-right: 100px;
    margin-left: 100px;
    margin: 40px;
    border: 2px solid black; /* Bordes negros */
    background-color: burlywood; /* Color pastel */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    padding: px 50px 100px; /* Ajusta los márgenes internos (arriba/abajo, izquierda/derecha) */
    margin-left: 20px; /* Espacio entre la imagen y el texto */
    border-radius: 20px; /* Borde redondeado */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    transition: all 0.3s ease; /* Transición suave */
}
.tit2{
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

@media (max-width:1525px){
    .description {
        border: 2px solid black; /* Bordes negros */
        background-color: burlywood; /* Color pastel */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
        padding: px 50px 100px; /* Ajusta los márgenes internos (arriba/abajo, izquierda/derecha) */
        margin-left: 20px; /* Espacio entre la imagen y el texto */
        border-radius: 20px; /* Borde redondeado */
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        transition: all 0.3s ease; /* Transición suave */
        height: 550px;
        width: 650px;
    }
        .description:hover {
            transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón por encima */
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada */
            }

    .Texto {
        text-align: center; /* Alinea el texto al centro */
        font-size: 35px;
        padding: 15px;
        }
        
}

@media (max-width:1155px){
    .description {
        border: 2px solid black; /* Bordes negros */
        background-color: burlywood; /* Color pastel */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
        padding: px 50px 100px; /* Ajusta los márgenes internos (arriba/abajo, izquierda/derecha) */
        margin-left: 20px; /* Espacio entre la imagen y el texto */
        border-radius: 20px; /* Borde redondeado */
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        transition: all 0.3s ease; /* Transición suave */
        height: 550px;
        width: 450px;
    }
    
    .description:hover {
        transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón por encima */
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada */
        }
    
    .Texto {
        text-align: center; /* Alinea el texto al centro */
        font-size: 30px;
        padding: 15px;
}
}


@media (max-width:977px){
    .description {
        border: 2px solid black; /* Bordes negros */
        background-color: burlywood; /* Color pastel */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
        padding: px 50px 100px; /* Ajusta los márgenes internos (arriba/abajo, izquierda/derecha) */
        margin-left: 20px; /* Espacio entre la imagen y el texto */
        border-radius: 20px; /* Borde redondeado */
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        transition: all 0.3s ease; /* Transición suave */
        height: 610px;
        width: 400px;
    }
    .description:hover {
        transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón por encima */
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada */
        }

    .Texto {
        text-align: center; /* Alinea el texto al centro */
        font-size: 25px;
        padding: 15px;
}
}

@media (max-width:700px){
    body{

        
        justify-content: space-between;
        margin-right: 5px;
        
    }

    .grid-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    



    .content{
        flex-direction: column;
        margin: auto;
        padding: 10px;
        justify-content: center;
        align-items: center;

    }
    img{
        height: 500px;
        margin: 15px;
        width: 20px;
        
        
        
    }
    .description{
        margin-right: 15px;
        font-size: 27px;
        font-weight: 10000;
        text-align: center;
        border: 2px solid black; /* Bordes negros */
        background-color: burlywood; /* Color pastel */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
        padding: px 10px 200px; /* Ajusta los márgenes internos (arriba/abajo, izquierda/derecha) */
        margin-left: 20px; /* Espacio entre la imagen y el texto */
        border-radius: 20px; /* Borde redondeado */
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        overflow:hidden;
        transition: all 0.3s ease; /* Transición suave */
        height: 400px;
        width: 400px;
}
.description:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón por encima */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada */
    }

    .main{
        
        padding: 20px;
        
    }

    footer{
        background-color:bisque; /* Color pastel para el fondo */
    padding: 80px ; /* Espacio interno */
    margin-top: 90px; /* Se pega al borde inferior */
    height: 160px;
    }

    .conteiner{
    display: inline;
    margin-right: 5px;
    }
    img#foto{
        display: flex;
        
        
    }

    .tet{
        margin: 0;
        font-size: 25px;
    }
    .tit2{
        font-size: 50px;
    }
}
    


.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.product-image {
    margin-bottom: 20px;
}

.product-image img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-image img:hover {
    transform: scale(1.1);
}

.product-details {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: bisque;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.descripcion {
    text-align: justify;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    width: 300px;
    border: 2px solid black; /* Bordes negros */
    background-color: burlywood; /* Color pastel */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    border-radius: 20px; /* Borde redondeado */
    overflow:hidden;
    transition: all 0.3s ease; /* Transición suave */
    
    
    

}

.features {
    margin-bottom: 10px;
    
}

.price {
    font-size: 18px;
    margin-bottom: 10px;
}

.buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #0056b3;
}

@media (max-width:700px){
    
    img{
        flex-direction: column;
        width: 310px;
        justify-content: center;
        align-items: center;
    }
    head{
        flex-direction: column;
    }
}

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.contact-map {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-map iframe {
    border-radius: 10px;
}

.contact-map:hover {
    transform: scale(1.05);
}

.contact-details {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: bisque;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.contact-details:hover {
    transform: scale(1.05);
}

.contact-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-details ul {
    padding: 0;
    list-style-type: none;
}

.contact-details ul li {
    margin-bottom: 10px;
}

.contact-details ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.contact-details ul li a:hover {
    border-bottom: 1px solid rgb(156, 94, 17);
}

.contact-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
}

.contact-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.faq-section {
    width: 80%;
    margin: 50px auto;
    background-color: bisque;
    padding: 20px;
    border: 2px solid black; /* Bordes negros */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    border-radius: 20px; /* Borde redondeado */
    transition: all 0.3s ease; /* Transición suave */
}

.faq-section:hover{
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón por encima */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada */
}

.faq-section h2 {
    text-align: center;
    font-size: 60px;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin: 20px
    ;
}

.question {
    margin-bottom: 20px;
}

.question h3 {
    font-size: 30px;
    color: #000000;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.answer {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    font-size: 25px;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.show-answer {
    height: auto;
}

.toggle-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.toggle-btn:hover {
    background-color: #ffffff;
    color: #000;
}